body{
    background-image: url("https://i.pinimg.com/474x/14/0c/9c/140c9cbd9a6f5a1fba72a402ae2327ae--pastel-colours-pastel-palette.jpg");
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button{background-color: rgb(245, 255, 105);}

.title{
    color:rgb(34, 32, 32);
    display: flex;
    
}

.holder{
    color: rgb(73, 212, 166);
}
.activo:hover{
    color: rgb(57, 219, 25);
}

.servicios:hover{
    color: rgb(57, 219, 25);
}
.galeria:hover{
    color: rgb(57, 219, 25);
}

.novedades:hover{
    color: rgb(57, 219, 25);
}

.contacto:hover{
    color: rgb(57, 219, 25);
}

.pollitomarron{
    display: flex;
    justify-content:center;
}

.huevito{
    display: flex;
    justify-content:center;
}

.coloridos{
    display: flex;
    justify-content:center;
}

.buttom{
display: flex;
justify-content: center;
}


.accordion{
    background-color: black;
    
}




/* flex-start: Alinea elementos al lado izquierdo del contenedor.
flex-end: Alinea elementos al lado derecho del contenedor.
center: Alinea elementos en el centro del contenedor.
space-between: Muestra elementos con la misma distancia entre ellos.
space-around: Muestra elementos con la misma separación alrededor de ellos. */