body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    overflow-x: hidden;
    background-color: #20c256dc;
}

header{
    background-color: rgb(83, 83, 83);
padding: 1em 0;
text-align:center;
}

header h1{
font-family:initial;
color:  rgb(230, 195, 107);
font-size: 2.5em;
font-weight: 500;
display: inline-block;
position: relative;

}



nav{
    background-color: rgb(32, 32, 32);
    margin-bottom: 2em;
    display: inline-block;
    width: 100vw;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
background-color: rgb(177, 177, 177);
}



footer{
    background-color: darkgoldenrod;
    clear: both;
    color: #ffffff;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

nav ul li a.activo{
    background-color: darkgoldenrod;
}

.holder{
    width: 960px;
    margin: 0 auto;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin: 0 0 1em;
    font-size:smaller;
}

.left{
    float: left;
}

.right{
    float: right;
}

.homeimg{
    margin-bottom: 1.5em;
}

.columnas{
    overflow: hidden;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: blue;
padding: 1em;
}

.testimonio .cita{
font-weight: bold;
font-style: italic;
font-size: 1.4em;
display: block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display:block
}

.historia p{
    font-size: 0.8em;
}

.personas{
    overflow: hidden;
}

.persona{
    width: 18%;
    border: 1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}


.persona{
    text-align: center;
}

.persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(red, green, blue, alpha);
    margin: 0.8em 0 1em;
    max-width: 70%;
}

.persona h5,
.persona h6{
    text-align: center;
    font-weight: normal;
    color: aquamarine;
    margin: 0%;
}



.aiuda .socorro .ayno .nonono{
    background-color: rgb(32, 32, 32);
    margin-bottom: 2em;
    display: inline-block;
    width: 100vw;
}

form{
    text-align:right;
    margin-right: -18%;
}

input {
    float: right;
    margin-top: 35px;
    border-radius: 20px;
}

h2 .subtitulo1 .linea1 {
        background-color: darkgoldenrod;
        height: 10px;
        margin-left: 0%;
        width: 53%;
      }

h2 .subtitulo2 .linea2 {
    background-color: darkgoldenrod;
        height: 10px;
        margin-right: 0%;
        width: 53%;
}

border .formulario {
   border: 30%;
}
conteiner {
    width: 968px;
}

.cosito {
    display:inline-flex
}

div .experiencias img{
    display: inline-flex;
   margin:auto;
}


.prueba{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.tengosueño h3 br{
    background-color: darkgoldenrod;
    height: 10px;
    margin-left: 0%;
    width: 53%;
  }

.contacto{
    font-size:xx-large;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.textocontacto{
font-size:x-large;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button{
display: inline-flex;
}

.botonform{
background-color: burlywood;
}

.formulariocontacto{
    width: 70%;
    box-sizing: border-box;
    padding: 0.6em;
display:inline-block;
}



.area { 
    display: inline-flex;
}
.nro {
    width : 50px;
  padding: 0;
  margin: 0;
  box-sizing:content-box;
}

#exampleCheck1{
box-sizing: border-box; 
border-bottom: #070707;
}

.resultadoform{
    display: inline-block;
}

/* holis */