body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}


header{
    background-color: rgb(83, 83, 83);
padding: 1em 0;
}


header h1{
    color: aquamarine;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    
    }
    
    nav{
        background-color: rgb(32, 32, 32);
        margin-bottom: 2em;
        display: inline-block;
        width: 100vw;
    }
    
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li{
        display: inline-block;
        width: 16.3%;
    }
    
    nav ul li a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 0.2em 0.4em;
    }
    
    nav ul li a:hover{
    background-color: rgb(177, 177, 177);
    }
    
    